<section class="firstpage">
    <div class="firstpage-wrapper">
        <h2>6 Yoga Poses You Need To Know<br></h2>
        <div class="text-container">
            <p> Move slowly through each pose, remembering to breathe as you move. Pause after any pose you find challenging, especially if you are short of breath, and start again when your breathing returns to normal. The idea is to hold each pose for a few, slow breaths before moving on to the next one.</p>
            <div class="line"></div>
        </div>
    </div>
</section>

<section class="secondpage">
    <div class="secondpage-wrapper">
        <div class="column1">
            {% for i in range (0,2) %}
                <img data-image-width="480" data-image-height="320" src="{{ poses[i]['src'] }}">
                <a href="{{ poses[i]['link'] }}"><h3>{{ poses[i]['name'] }}</h3></a>
                <p> {{ poses[i]['text'] }}</p>
            {% endfor %}
        </div>

        <div class="column2">
            {% for i in range (3,5) %}
                <img data-image-width="480" data-image-height="320" src="{{ poses[i]['src'] }}">
                <a href="{{ poses[i]['link'] }}"><h3>{{ poses[i]['name'] }}</h3></a>
                <p> {{ poses[i]['text'] }}</p>
            {% endfor %}
        </div>
    </div>
</section>
